table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 25%;
    padding: 1.4rem 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--darkest-gray);
    border-bottom: 1px solid var(--border-gray);
}

th {
    width: 25%;
    padding: 1rem 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
}

.table-head {
    background-color: var(--lighter-gray);
    color: var(--dark-gray);
}

.table-head-title {
    text-align: left;
}

.table-head-title:nth-child(3), .table-head-title:nth-child(4) {
    text-align: right;
}

.data:nth-child(3), .data:nth-child(4) {
    text-align: right;
}

.data:first-child {
    color: var(--sky-blue)
}