@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "./components/index.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-size: 10px;
}

:root {
  --dark-purple: #1E2640;
  --white-color: #FFFFFF;
  --drakest-gray: #1A181E;
  --dark-gray: #4D4D4D;
  --lighter-gray: #F2F2F2;
  --light-gray: #E6E6E6;
  --lightest-gray:#999999;
  --gray: #6b6868;
  --border-gray: #D9D9D9;
  --whitesmoke: #efeded;
  --sky-blue: #146EB4;
  --slate-color: #353C53;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, p {
  margin-block-start: 0;
  margin-block-end: 0; 
}

ul {
  list-style: none;
}


img {
  width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
}
.App {
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
}

.main {
  width: 84.4%;
  background-color: var(--whitesmoke);
}
